@import '../node_modules/bulma/css/bulma.min.css';
@import '../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css';
@import '../node_modules/remixicon/fonts/remixicon.css';

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fcfcfc;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #DBDBDB;
  text-decoration: none;
}

a:hover {
  color: #006ae4;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  background-color: #fcfcfc;
}

.key {
  height: 4rem;
  width: 4rem;

  :focus {
    outline: none;
    box-shadow: none;
  }
}

.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat((12, 1fr));
  width: 70%;
}

@media (max-width: 1024px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat((6, 1fr));
  }
}

@media (max-width: 768px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat((4, 1fr));
  }

  .title {
    font-size: 42px;
  }
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .grid {
    gap: 2rem;
    grid-template-columns: repeat((3, 1fr));
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 411px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat((2, 1fr));
  }

  html, body {
    overflow: auto;
  }
}
