@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css";
@import "../node_modules/remixicon/fonts/remixicon.css";
@import "../node_modules/emoji-mart/css/emoji-mart.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #fcfcfc;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: #dbdbdb;
  text-decoration: none;
}

a:hover {
  color: #006ae4;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
  background-color: #fcfcfc;
}

.key {
  height: 4rem;
  width: 4rem;

  :focus {
    outline: none;
    box-shadow: none;
  }
}

.key-preview {
  margin: 0 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;

  input {
    @extend .input;
  }
}

.hidden {
  display: none !important;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat((12, 1fr));
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .player-buttons {
    margin: 1em 0;
  }

  .player-bar {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 1em 0;

    .progress {
      margin: 0;
      height: 25px;
    }
  }
}

@media (max-width: 1024px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat((6, 1fr));
  }

  .key-preview {
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat((4, 1fr));
  }

  .title {
    font-size: 42px;
  }
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .grid {
    gap: 2rem;
    grid-template-columns: repeat((3, 1fr));
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 411px) {
  .grid {
    gap: 2rem;
    grid-template-columns: repeat((2, 1fr));
  }

  html,
  body {
    overflow: auto;
  }
}
